In [3]:
# * starred expression
"""
starred expression is used to unpack iterables. iterables can be list or tuple etc
"""

def sum(a,b,c):
    return a + b + c

sum(1,2,3) # 6
# sum(1) # TypeError, missing arguments
# sum([1,2,3]) # TypeError, missing arguments
sum(*[1,2,3]) # 6
sum(*(1,2,3)) # 6

"""
*[1,2,3] &  *(1,2,3) works because it's already unpacked, so it is treated as arguments
"""

"\n*[1,2,3] &  *(1,2,3) works because it's already unpacked, so it is treated as arguments\n"

In [25]:
"""
starred expression to get rest of value, as function parameter
"""
from functools import reduce

def get_total(*numbers): # numbers stored all value in forms of tuple
    return reduce(lambda x,y: x+y, numbers, 0)

get_total(1,2,3,4,5,6)

21

In [26]:
"""
starred expression to get rest of value, assignment
"""
list_on_number = range(10)

one, two, three, *rest = list_on_number
print(one, two, three, rest) # 0 1 2 [3, 4, 5, 6, 7, 8, 9]

one, two, *rest, last = list_on_number
print(one, two, rest, last) # 0 1 [2, 3, 4, 5, 6, 7, 8] 9

0 1 2 [3, 4, 5, 6, 7, 8, 9]
0 1 [2, 3, 4, 5, 6, 7, 8] 9

In [31]:
"""
starred expression cannot be used in single assignment
"""
# *a, = range(10) # error

*a, = range(10) # adding coma, makes it valid
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
# ** double starred expresson
"""
double starred experssion is used to unpack dictionary
"""
cv = {
    "name": "naufal",
    "age": 23,
    "sex": "male"
}

def print_cv(name=None, age=None, sex=None):
    print(f"name {name}, age {age}, sex {sex}")
    
print_cv(**cv)

def print_cv2(**cv):
    print(f"name {cv['name']}, age {cv['age']}, sex {cv['sex']}")
    
print_cv2(name="naufal", age=23, sex="male")

name naufal, age 23, sex male
name naufal, age 23, sex male